<a href="https://colab.research.google.com/github/Anahitaaam/first-practice/blob/main/SKlearn_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Getting ready data to used with ML

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from google.colab import drive

drive.mount('/content/drive')

heart_diseas = pd.read_csv('/content/drive/MyDrive/practice data set/heart-disease.csv')
heart_diseas

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
from numpy.ma.core import shape
X=heart_diseas.drop('target',axis=1)
Y=heart_diseas['target']
X_train,X_test,Y_train,Y_test = train_test_split(X , Y, test_size = 0.2)
X_train.shape, X_test.shape, Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

####Make sure its all numerical

In [7]:
Car_sales = pd.read_csv('/content/drive/MyDrive/practice data set/21708170-car-sales[UdemyIran.Com].csv')
Car_sales
Car_sales['Price'] = Car_sales['Price'].str.replace('[\$\,\.]','').astype(int)
Car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
Xc = Car_sales.drop('Price',axis=1)
Yc = Car_sales['Price']
Xc_train,Xc_test,Yc_train,Yc_test = train_test_split(Xc , Yc , test_size = 0.2)
Car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [9]:
Car_sales['Doors'].value_counts()

4    8
3    1
5    1
Name: Doors, dtype: int64

In [10]:
Car_sales['Colour'].value_counts()

White    4
Blue     3
Red      1
Black    1
Green    1
Name: Colour, dtype: int64

In [11]:
Car_sales['Make'].value_counts()

Toyota    4
Honda     3
Nissan    2
BMW       1
Name: Make, dtype: int64

In [12]:
from numpy.core.numeric import ones_like
# turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

One_Hot = OneHotEncoder()
Categorical_features = ['Make','Colour','Doors']

Transformer = ColumnTransformer([('One_Hot', One_Hot, Categorical_features)],remainder='passthrough')

Transformed_X = Transformer.fit_transform(Xc,Yc)
Transformed_X

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.50043e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 8.78990e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 3.25490e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 1.11790e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 2.13095e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 9.92130e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 4.56980e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 5.47380e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 6.00000e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 3.16000e+04]])

In [13]:
pd.DataFrame(Transformed_X)

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  150043.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0   87899.0
2  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0   32549.0
3  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   11179.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  213095.0
5  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0   99213.0
6  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   45698.0
7  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   54738.0
8  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   60000.0
9  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   31600.0

####Try convert to numericall with Dummies

In [15]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor
dummies= pd.get_dummies(Car_sales[['Make','Colour','Doors']])
dummies
model= RandomForestRegressor()
np.random.seed(40)
X_train,X_test, Y_train,Y_test = train_test_split (Transformed_X ,Yc, test_size= 0.2)
model.fit(X_train,Y_train)
model.score(X_train,Y_train)

0.9025699587466215

####Missing value

In [16]:
Car_sales_missing = pd.read_csv('/content/drive/MyDrive/practice data set/car-sales-missing-data.csv')
Car_sales_missing

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [18]:
Car_sales_missing.isna().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [19]:
Xms = Car_sales_missing.drop('Price',axis =1)
Yms = Car_sales_missing['Price']

######Solution 1: Fill missing value with Pandas

In [28]:
Car_sales_missing['Make'].fillna('missing',inplace = True)
Car_sales_missing['Colour'].fillna('missing',inplace = True)
Car_sales_missing['Odometer'].fillna(Car_sales_missing['Odometer'].mean(),inplace = True)
Car_sales_missing

      Make   Colour       Odometer  Doors    Price
0   Toyota    White  150043.000000    4.0   $4,000
1    Honda      Red   87899.000000    4.0   $5,000
2   Toyota     Blue   92302.666667    3.0   $7,000
3      BMW    Black   11179.000000    5.0  $22,000
4   Nissan    White  213095.000000    4.0   $3,500
5   Toyota    Green   92302.666667    4.0   $4,500
6    Honda  missing   92302.666667    4.0   $7,500
7    Honda     Blue   92302.666667    4.0      NaN
8   Toyota    White   60000.000000    NaN      NaN
9  missing    White   31600.000000    4.0   $9,700

In [29]:
Car_sales_missing['Doors'].value_counts()

4.0    7
3.0    1
5.0    1
Name: Doors, dtype: int64

In [30]:
Car_sales_missing['Doors'].fillna(4, inplace = True)
Car_sales_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       2
dtype: int64

In [31]:
Car_sales_missing.dropna(inplace = True)
Car_sales_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [32]:
len(Car_sales_missing)

8

In [33]:
Car_sales_missing

      Make   Colour       Odometer  Doors    Price
0   Toyota    White  150043.000000    4.0   $4,000
1    Honda      Red   87899.000000    4.0   $5,000
2   Toyota     Blue   92302.666667    3.0   $7,000
3      BMW    Black   11179.000000    5.0  $22,000
4   Nissan    White  213095.000000    4.0   $3,500
5   Toyota    Green   92302.666667    4.0   $4,500
6    Honda  missing   92302.666667    4.0   $7,500
9  missing    White   31600.000000    4.0   $9,700

######Filling missing value with Scikit-Learn

In [20]:
import pandas as pd

Car_sales_missing2 = pd.read_csv('/content/drive/MyDrive/practice data set/car-sales-missing-data.csv')
Car_sales_missing2

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [21]:
Car_sales_missing2.isna().sum()

Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64

In [46]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


X = Car_sales_missing2.drop('Price', axis =1)
Y = Car_sales_missing2['Price']
Car_sales_missing2['Doors'].value_counts()

4.0    7
3.0    1
5.0    1
Name: Doors, dtype: int64

In [23]:
CarImputer = SimpleImputer(strategy='constant', fill_value='missing')
DoorImputer = SimpleImputer(strategy='constant', fill_value= 4)
NumImputer =  SimpleImputer(strategy='mean')

Car_feature = ['Make','Colour']
Door_feature = ['Doors']
Num_feature = ['Odometer']
#  list:The collection of fitted transformers as tuples of
    # (name, fitted_transformer, column)
imputer = ColumnTransformer([("CarImputer", CarImputer, Car_feature),
                             ("DoorImputer", DoorImputer, Door_feature),
                             ("NumImputer", NumImputer, Num_feature)])
FilledX = imputer.fit_transform(X)
FilledX

array([['Toyota', 'White', 4.0, 150043.0],
       ['Honda', 'Red', 4.0, 87899.0],
       ['Toyota', 'Blue', 3.0, 92302.66666666667],
       ['BMW', 'Black', 5.0, 11179.0],
       ['Nissan', 'White', 4.0, 213095.0],
       ['Toyota', 'Green', 4.0, 92302.66666666667],
       ['Honda', 'missing', 4.0, 92302.66666666667],
       ['Honda', 'Blue', 4.0, 92302.66666666667],
       ['Toyota', 'White', 4.0, 60000.0],
       ['missing', 'White', 4.0, 31600.0]], dtype=object)

In [ ]:
Car_sales_filled = pd.DataFrame(FilledX,columns=['Make','Colour','Doors','Odometer'])
Car_sales_filled, Y

In [ ]:
Transformer = ColumnTransformer([('One_Hot', One_Hot, Categorical_features)], remainder= 'passthrough')
Transformed_X = Transformer.fit_transform (Car_sales_filled)
Transformed_X

In [ ]:
Car_sales_missing2.dropna(inplace = True)
Car_sales_missing2.isna().sum()

In [56]:
np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(Transformed_X, Y ,test_size = 0.2)
model= RandomForestRegressor()
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

ValueError: ignored