<a href="https://colab.research.google.com/github/Anahitaaam/first-practice/blob/main/SKlearn_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Getting ready data to used with ML

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from google.colab import drive

drive.mount('/content/drive')

heart_diseas = pd.read_csv('/content/drive/MyDrive/practice data set/heart-disease.csv')
heart_diseas

In [2]:
from numpy.ma.core import shape
X=heart_diseas.drop('target',axis=1)
Y=heart_diseas['target']
X_train,X_test,Y_train,Y_test = train_test_split(X , Y, test_size = 0.2)
X_train.shape, X_test.shape, Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

####Make sure its all numerical

In [ ]:
Car_sales = pd.read_csv('/content/drive/MyDrive/practice data set/21708170-car-sales[UdemyIran.Com].csv')
Car_sales
Car_sales['Price'] = Car_sales['Price'].str.replace('[\$\,\.]','').astype(int)
Car_sales.info()

In [ ]:
Xc = Car_sales.drop('Price',axis=1)
Yc = Car_sales['Price']
Xc_train,Xc_test,Yc_train,Yc_test = train_test_split(Xc , Yc , test_size = 0.2)
Car_sales.dtypes

In [ ]:
Car_sales['Doors'].value_counts()

In [ ]:
Car_sales['Colour'].value_counts()

In [ ]:
Car_sales['Make'].value_counts()

In [ ]:
from numpy.core.numeric import ones_like
# turn the category into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

One_Hot = OneHotEncoder()
Category_features = ['Make','Colour','Doors']

Transformer = ColumnTransformer([('One_Hot', One_Hot, Category_features)],remainder='passthrough')

Transformed_Xc = Transformer.fit_transform(Xc,Yc)
Transformed_Xc

In [ ]:
pd.DataFrame(Transformed_Xc)

####Try convert to numericall with Dummies

In [ ]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor
dummies= pd.get_dummies(Car_sales[['Make','Colour','Doors']])
dummies
model= RandomForestRegressor()
np.random.seed(40)
X_train,X_test, Y_train,Y_test = train_test_split (Transformed_Xc ,Yc, test_size= 0.2)
model.fit(X_train,Y_train)
model.score(X_train,Y_train)

0.9025699587466215

####Missing value

In [ ]:
Car_sales_missing = pd.read_csv('/content/drive/MyDrive/practice data set/car-sales-missing-data.csv')
Car_sales_missing

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [ ]:
Car_sales_missing.isna().sum()

Make        1
Colour      1
Odometer    4
Doors       0
Price       2
dtype: int64

In [ ]:
Xms = Car_sales_missing.drop('Price',axis =1)
Yms = Car_sales_missing['Price']

######Solution 1: Fill missing value with Pandas

In [ ]:
Car_sales_missing['Make'].fillna('missing',inplace = True)
Car_sales_missing['Colour'].fillna('missing',inplace = True)
Car_sales_missing['Odometer'].fillna(Car_sales_missing['Odometer'].mean(),inplace = True)
Car_sales_missing

      Make   Colour       Odometer  Doors    Price
0   Toyota    White  150043.000000    4.0   $4,000
1    Honda      Red   87899.000000    4.0   $5,000
2   Toyota     Blue   92302.666667    3.0   $7,000
3      BMW    Black   11179.000000    5.0  $22,000
4   Nissan    White  213095.000000    4.0   $3,500
5   Toyota    Green   92302.666667    4.0   $4,500
6    Honda  missing   92302.666667    4.0   $7,500
7    Honda     Blue   92302.666667    4.0      NaN
8   Toyota    White   60000.000000    4.0      NaN
9  missing    White   31600.000000    4.0   $9,700

In [ ]:
Car_sales_missing['Doors'].value_counts()

4.0    8
3.0    1
5.0    1
Name: Doors, dtype: int64

In [ ]:
Car_sales_missing['Doors'].fillna(4, inplace = True)
Car_sales_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       2
dtype: int64

In [ ]:
Car_sales_missing.dropna(inplace = True)
Car_sales_missing.isna().sum()

Make        0
Colour      0
Odometer    0
Doors       0
Price       0
dtype: int64

In [ ]:
len(Car_sales_missing)

8

In [ ]:
Car_sales_missing

In [ ]:
# Car_sales_missing['Price'] = Car_sales_missing['Price'].str.replace('[\$\,\.]','').astype(int)
# Car_sales_missing

######Filling missing value with Scikit-Learn

In [4]:
import pandas as pd

Car_sales_missing2 = pd.read_csv('/content/drive/MyDrive/practice data set/car-sales-missing-data.csv')
Car_sales_missing2

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700

In [ ]:
Car_sales_missing2.isna().sum()

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer


X = Car_sales_missing2.drop('Price', axis =1)
Y = Car_sales_missing2['Price']
Car_sales_missing2['Doors'].value_counts()

4.0    7
3.0    1
5.0    1
Name: Doors, dtype: int64

In [12]:
CarImputer = SimpleImputer(strategy='constant', fill_value='missing')
DoorImputer = SimpleImputer(strategy='constant', fill_value= 4)
NumImputer =  SimpleImputer(strategy='mean')

Car_feature = ['Make','Colour']
Door_feature = ['Doors']
Num_feature = ['Odometer']
#  list:The collection of fitted transformers as tuples of
    # (name, fitted_transformer, column)
imputer = ColumnTransformer([("CarImputer", CarImputer, Car_feature),
                             ("DoorImputer", DoorImputer, Door_feature),
                             ("NumImputer", NumImputer, Num_feature)])
FilledX = imputer.fit_transform(X)
FilledX

array([['Toyota', 'White', 4.0, 150043.0],
       ['Honda', 'Red', 4.0, 87899.0],
       ['Toyota', 'Blue', 3.0, 92302.66666666667],
       ['BMW', 'Black', 5.0, 11179.0],
       ['Nissan', 'White', 4.0, 213095.0],
       ['Toyota', 'Green', 4.0, 92302.66666666667],
       ['Honda', 'missing', 4.0, 92302.66666666667],
       ['Honda', 'Blue', 4.0, 92302.66666666667],
       ['Toyota', 'White', 4.0, 60000.0],
       ['missing', 'White', 4.0, 31600.0]], dtype=object)